.chat-main
  .chat-main__group
    .chat-main__group__header
      %h2.chat-main__group__header__left-box
        = @group.name
      .chat-main__group__header__right-box
        %h4.chat-main__group__header__right-box__edit-text
          = link_to 'Edit', edit_group_path(@group)
    %ul.chat-main__group__member
      %li Member  :  
      %li
      - @group.users.each do |user|
        = user.name
  .chat-main__massage-list
    = render @messages
  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form__spase
        = f.text_field :content, class: 'chat-main__form__spase__text', placeholder: 'type a message' 
        .chat-main__form__spase__image-send
          = f.label :image, class: 'chat-main__form__spase__image-send__image' do
            = icon('fas', 'image', class: 'chat-main__form__spase__image-send__image__icon')
            = f.file_field :image, class: 'chat-main__form__spase__image-send__image__hidden'
        = f.submit 'Send', class: 'chat-main__form__spase__submit'